# Required for operators
# USERNAME="hive-username"
# ACTIVE_KEY="your-active-key"

# info or debug
LOG_LEVEL=info

# By default we listen on all interfaces ipv4/ipv6
# For dockerized setups ignore the HOST and set host in the PORT
# e.g. to listen on localhost:1111 with docker: PORT=127.0.0.1:1111:3018
HOST="::"
PORT=3018

# Known nodes - All in one line separated by ,
# IPV6 addresses must be in brackets e.g.: [1fff:0:a88:85a3::ac1f]:3018
PEERS="65.109.213.122:3018"

