# Required for operators
# USERNAME="hive-username"
# ACTIVE_KEY="your-active-key"

# Uncomment the following on IPv6-only machines before building
# FORCE_IPV6=true

# info or debug
LOG_LEVEL=info

# By default we listen on all interfaces IPv4/IPv6
# For dockerized setups ignore the HOST and set host in the PORT
# e.g. to listen on localhost:1111 with docker: PORT=127.0.0.1:1111:3018
HOST="::"
PORT=3018

# Known nodes - All in one line separated by ,
# IPV6 addresses must be in brackets
PEERS="65.109.213.122:3018,[2a01:4f9:c011:612a::1]:3018"

