services:
  hive-bridge:
    container_name: hive-bridge
    build:
      context: .
    restart: unless-stopped
    init: true
    tty: true
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      - ENV_VAR=production
